OPENAI_API_KEY='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'

# Firebase Storage Bucket name (e.g. my-project.appspot.com)
FIREBASE_STORAGE_BUCKET=new-e70d7.firebasestorage.app
FIREBASE_CREDENTIALS_PATH=config/firebase.json
